body {
  font-family: sans-serif, Arial, Helvetica;
  background-color: #080808;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2a5faf;
  border-radius: 8px;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #0e0d0d;
  text-align: center;
}

form {
  text-align: center;
}

#search_field {
  width: 70%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 600px) {
  #search_field {
      width: 100%;
  }
}

@media (max-width: 300px) {
  .container {
      padding: 10px;
  }
  
  h1 {
      font-size: 24px;
  }
  
  #search_field {
      width: 100%;
  }
  
  input[type="submit"] {
      padding: 8px 15px;
  }
}
